body {
    font-family: Arial, sans-serif;
    background-color: #f9cdff6d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(234, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#idadeInput {
    padding: 7px;
    margin-bottom: 5px;
    width: 100px;
}

button {
    padding: 5px 10px;
    background-color: #36bde9;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #600b75;
}